h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    font-weight: bold;
    margin: 1.2em 0 .6em 0;
}

blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    border-left: 5px solid rgba(102, 128, 153, 0.075);
}

p,
pre,
pre.prettyprint,
blockquote {
    margin: 0 0 1.1em;
}

blockquote {
    border-left-width: 10px;
    background-color: rgba(102, 128, 153, 0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote p {
    font-weight: 300;
    margin-bottom: 1.1em;
    font-size: 1em;
    line-height: 1.45;
}

hr {
    box-sizing: content-box;
    height: 0;
    border: 0;
    border-top: 1px solid rgba(102, 128, 153, 0.1);
    margin: 2em 0;
    line-height: 1.6;
}

ul,
ol {
    margin-bottom: 1.1em;
    margin-bottom: 10.5px;
}

pre {
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Song, sans-serif;
    font-size: 15px;
    line-height: 1.45;
    color: #2c3f51;
}

code {
    font-family: "code font", monospace;
    padding: 2px 4px;
    white-space: normal;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre>code {
    font-family: "code font", monospace;
    white-space: unset;
}

p {
    word-wrap: break-word;
}

a {
    color: #009a61;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 154, 97, 0.25);
    background: transparent;
    outline: none;
}

a:hover {
    border-bottom: 1px solid #009a61;
    text-decoration: none;
    color: #004e31;
}

img {
    width: 100%;
}

li {
    word-break: break-all;
    word-wrap: break-word;
}

pre code {
    white-space: pre;
}

table {
    border-color: gray;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th {
    font-weight: bold;
}

table th, table td {
    border: 1px solid #ddd;
    padding: .5em;
}

.warring-blockquote {
    border-color: #e66465;
    background: #ffe7e8;
    overflow: hidden;
    padding-left: 30px;
}

.warring-blockquote>span {
    float: left;
    font-size: 20px;
    width: 30px;
    margin-left: -30px;
    text-align: center;
}

@font-face {
    font-family: "code font";
    src: url('../font/SourceCodePro-Regular-webfont.woff') format('woff');
}